@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Nunito:wght@300;400;500;600;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
