@import "../../../styles/variables.scss";
.days {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;

  .day,
  .temp__day {
    font-size: 18px;
  }

  .day {
    margin-bottom: 7px;
  }

  .day__info,
  .img {
    margin-bottom: 12px;
  }

  .day__info {
    font-size: 14px;
  }

  .day__info,
  .temp__night,
  .info {
    color: $base-color;
  }

  .temp__night {
    font-size: 13px;
    margin-bottom: 6px;
  }
  .info {
    font-size: 13px;
  }

  &:hover {
    box-shadow: 0px 3px 20px rgba(147, 144, 144, 0.28);
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.tabs__wrapper {
  display: flex;
}

.tab {
  &.active {
    background-color: $primary-color;
    color: #fff;
  }
}

.cansel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: $lite-background;
  margin-right: 15px;
  color: $lite-color;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cansel {
  margin-right: 0;
}
